<!-- filepath: c:\Users\aless\source\repos\diariodiviaggio\diariodiviaggio\diariodiviaggioBE\DiarioDiViaggioWeb\src\app\app.component.html -->
<mat-toolbar color="primary">
  <span routerLink="/" class="site-logo">Diario di Viaggio</span>
  <span class="spacer"></span>
  <ng-container *ngIf="isLoggedIn(); else notLoggedIn">
    <button mat-button routerLink="/trips">I miei viaggi</button>
    <button mat-button [matMenuTriggerFor]="userMenu">
      {{ currentUser?.username }}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </ng-container>
  <ng-template #notLoggedIn>
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/register">Registrati</button>
  </ng-template>
</mat-toolbar>

<div class="content-container">
  <router-outlet></router-outlet>
</div>
